header {
    position: relative;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
}

header .nav {
    float: right;
    list-style: none;
}

header .li{
    display: inline;
    text-decoration: none;
    color: black;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms;
}

header .li:hover {
    opacity: 0.5;
}


header .shop-curt-button {
    float: right;
    cursor: pointer;
    transition: color, transform, 500ms ease;
}

header .shop-curt-button:hover,
header .shop-curt-button.active {
    color: #dc3d3d;
    transform: scale(1.5);
}

header .shop-cart {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: #fafafa;
    --webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
    z-index: 1000;
    padding: 20px;
    padding-bottom: 0;
}

header .shop-cart .empty h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

header .shop-cart .item {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

header .shop-cart .item img{
    width: 70px;
    float: left;
    margin-right: 20px;
}

header .shop-cart .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

header .shop-cart .item p {
    color: #797979;
    font-weight: 600;
}

header .shop-cart .item .delete-icon {
    color: #ca5252;
    float: right;
    position: relative;
    top: -25px;
    cursor: pointer; 
   transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover {
    color: #dc3d3d;
    transform: scale(1.5);
}

header .shop-cart .summa {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.close {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modal_basket {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.button_order {
    background-color: rgb(100, 174, 100);
    padding: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

